@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 249, 251;
  --background-end-rgb: 248, 249, 251;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}